.meme-detail-page{
    padding-top: 60px;
    height: 625px;
    /* padding-bottom: 15%; */
    background-image: url("https://i.pinimg.com/originals/9d/c8/51/9dc8516895c763db4cc6594ee15f84d8.png");
    background-position: center center;
    background-size: cover;
    padding-right: 180px;
    padding-left: 180px;
}
.img400{
    height: 400px;
    width: 350px;
    border: 1px solid #222;
    border-radius: 20px;

}